allure-pytest==2.11.1
allure-python-commons==2.11.1
pytest==7.2.0
requests==2.28.1
SQLAlchemy==1.4.42
git+https://github.com/yashaka/selene.git
webdriver-manager==3.8.4
selenium==4.5.0
flake8==5.0.4
mimesis==6.1.1
pytest-env==0.8.1
pytest-rerunfailures==10.2
pytest-xdist==3.0.2
testit-adapter-pytest==2.0.1
testit-api-client==2.0.1
urllib3~=1.26.12